= stylesheet_link_tag 'admin/mailer_logger'
%h1 Mail Logs
%h2
  = link_to_unless_current "All (#{MailLog.count})", mail_index_path
  |
  = link_to_unless_current "Sent (#{MailLog.sent_count})", sent_mail_path
  |
  = link_to_unless_current "Unsent (#{MailLog.unsent_count})", unsent_mail_path
- if @mail_logs.empty?
  %p None
- else
  %p= will_paginate @mail_logs

  %table#mail.index{:cellspacing=>"0", :border=>"0", :cellpadding=>"0" }
    %thead
      %tr
        %th.type Mail Log
        %th.date Date
        %th.content Content
        %th.modify Delete
    %tbody
      - @mail_logs.each do |mail_log|
        %tr.node.level-1
          %td.type
            - if mail_log.success?
              %span.success= image('success', :alt => 'success')
            - else
              %span.error= image('error', :alt => 'error')
            = image('mail', :alt => 'mail')
            %strong= mail_log.form_name.titlecase
          %td.date= mail_log.created_at.to_s(:db)
          %td.content
            %ul
              - mail_log.form_data.each do |heading, value|
                %li
                  %strong= heading
                  = ':'
                  = h value
          %td.remove= link_to image('remove', :alt => 'delete'), mail_url(mail_log), :method => :delete
  %p= will_paginate @mail_logs
  %p= link_to "Delete All #{MailLog.count} Mail Logs", mail_purge_path, :method => :delete, :confirm => 'are you sure you wish to delete all mail logs?'